.theme-default-content a span,
.theme-default-content .edit-link span,
.nav-links span{
    display: none !important;
}

.sidebar-heading,
.sidebar > .sidebar-links > li > a.sidebar-link {
    font-size: 1em !important;
}

a.sidebar-link {
    font-size: .9em !important;
}